# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Environments
.env
*.env
venv/
env/

# Django/Migrations
db.sqlite3
*.log
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.pyd


